#nav_panels {
  position : absolute;
  top : 0;
  right : 0;

  z-index : 2000;

  list-style-type: none;
}

#nav_panels li {
  float : left;

  height : 53px;
  width : 110px;
}

#nav_panels li > div {
  text-align: center;
}

#nav_panels .count {
  font-size: 20px;
  line-height: 35px;

  background: #bebebe;
  color : #444;
}

#nav_panels .type {
  font-size : 10px;
  line-height: 18px;

  background: #444;
  color : white;
}

#nav_panels .nodes .count { color : white; background: #235BBE; }
#nav_panels .nodes .type  { color : #235BBE; background: #32B9E5; }

#nav_panels .annotations .count { color : white; background: #EE6E21; }
#nav_panels .annotations .type  { color : #EE6E21; background: #F3BE00; }

.panel { background : white; }

.panel .cluster {
  padding : 10px 0;
}

.panel .cluster .color {
  display: block;
  width : 16px;
  height : 16px;

  float:left;

  margin-top : 2px;
  margin-left : 12px;
}

.panel .cluster > h2 {
  margin-left : 40px;

  line-height: 24px;

  font-family: arial;
  font-size: 14px;
  color : #393939;
}

.panel .cluster .nodes {
  clear : both;
}