#nav_panels {
  position : absolute;
  top : 0;
  right : 0;

  z-index : 2000;

  list-style-type: none;

  li {
    float : left;

    height : 53px;
    width : 110px;

    >div { text-align: center; }
  }

  .count {
    font-size: 20px;
    line-height: 35px;

    background: #bebebe;
    color : #444;
  }

  .type {
    font-size : 10px;
    line-height: 18px;

    background: #444;
    color : white;
  }

  .nodes {
    .count { color : white; background: #235BBE; }
    .type  { color : #235BBE; background: #32B9E5; }
  }

  .annotations {
    .count { color : white; background: #EE6E21; }
    .type  { color : #EE6E21; background: #F3BE00; }
  }
}

#panels {
  position : absolute;
  top : 53px;
  right : 0;
  // should take a fixed scrollbar to be independant from browser
  width : 330px;
  overflow: hidden;

  background: white;

  border-left : 1px solid #f0f0f0;

  >div {
    width : 330px;
    overflow-y : auto;
    // float : left;
    // position : relative;
    // overflow-y : auto;
  }

  form {
    margin : 20px 0;
    padding : 0 10px;
  }

  form textarea {
    display: block;
    width : 288px;
    height : 5em;

    padding : 10px;

    border : 1px solid #777;    
  }

  form button {
    margin-top : 10px;

    width : 100%;
  }

}

.group {
  border-left-width: 3px;
  border-left-style: solid;
}

.title_big {
  font-family: "Oxygen-Regular", arial;
  font-size : 18px;
  line-height : 24px;

  padding:  12px 10px;
  text-align: center;
}

.title-small {
  padding : 0 10px 2px;

  font-family: arial;
  font-size: 9px;

  color : #777;
}

.item {
  font-family: arial;
  font-size: 13px;
  line-height: 14px;

  padding : 4px 10px;

  .label { color : #3C3C3C;}

  &:hover {
    cursor : pointer;
    background : #f0f0f0;
  }
}

.in { text-align: center; background: #f0f0f0; color : #3C3C3C; font-size: 13px; padding : 6px 10px; }

.counter {  float : right; padding : 0 0 0 10px; color : #777;}

.block { margin-top : 20px; }

.message {
  margin : 0px 50px;

  color : #777;
  font-size : 13px;
  line-height: 2em;
  font-style : italic;
  text-align : center;
}

#node_list {
  .cluster  {
    .group;

    >h2 {
      .title_big;

      border-left-width : 3px;
      border-left-style:  solid;

      margin-left : -3px;
    }
  }

  .nodes    {
    .node  { .item; }
    .annotations_count { .counter; }
  }
}

#node_info {
  >.node {
    h2 { .title_big; }
    .cluster { .in }
  }

  .block-type { .title-small }

  .cluster {
    cursor: pointer;
  }

  .neighbors {
    .block;

    .node { .item;
      .direction {
        margin-right : 5px;

        position : relative;
        font-size : 14px;
        bottom : -1px;
        width : 1em;
        float : left;

        color : #777;

        .source { float : left;  }
        .dest   { float : right; }
      }
    }
  }

  .annotations {
    .block;

    .annotation {
      margin-bottom : 10px;
    

      .info {
        .title-small; position : relative;

        .source { width : 200px; }
        
        .created {
          position : absolute;
          top : 1px;
          right : 10px;
          width : 100px;

          text-align : right;
        }
      }

      .content { .item; }
    }
  }
}

#annotation_list {
  &>div { padding : 20px 0; }

  .block-type { display : none; }

  .annotation {
    margin-bottom : 10px;
  

    .info {
      .title-small; position : relative;

      .source { width : 200px; }
      
      .created {
        position : absolute;
        top : 1px;
        right : 10px;
        width : 100px;

        text-align : right;
      }
    }

    .content { .item; }
  }
}