<template name='annotation_list'>

<div class="block-type">annotations</div>

{{#if annotations}}  
<!--    <div class="count"><span>{{annotations.length}} annotations </span></div>    -->
    <div class="nav note-list lastnote">
        {{#each annotations}}
        <div class='note' class='node-hover' data-id='{{ this.source }}{{#if this.target}},{{ this.target }}{{/if}}'>
            <a title='by {{this.created_by}}'> 
            <div class='row-fluid'>
                <div class='span-title-lastnote'>
                {{ this.text }} 
                </div>                   
                <div id="last">
                    <span class='pull-right'>
                    <i class="{{this.icon}}"> </i>
                        {{#if this.icon}}
                        {{this.sourcelabel}}
                        {{else}} 
                           {{this.sourcelabel}}
                        {{/if}} &nbsp;&nbsp;               
                        <span class="badge" style='background-color:{{ this.nodecolor }};'>&nbsp;</span>

                    </span>  
                </div>
                 
            </div>
            </a>
        </div>
        {{/each}}
        <div class="pagination">
            <ul class='note-pages'></ul>
        </div>
    </div>
{{else}}
  <div class="message">There is no annotation yet</div>
{{/if}}
</template>