<template name='annotation_list'>
<div>
<div class="block-type">annotations</div>

{{#if annotations}}  
<!--    <div class="count"><span>{{annotations.length}} annotations </span></div>    -->
<div class="annotations">
{{#each annotations}}
  <div class='annotation' class='node-hover' data-id='{{ this.source }}{{#if this.target}},{{ this.target }}{{/if}}'>
    <div class="info">
      <div class="source">{{ node.label }}</div>
      <div class="created">{{ date created_at }}</div>
    </div>
    <div class='content'>{{ text }}</div>
  </div>
{{/each}}
{{else}}
  <div class="message">There is no annotation yet</div>
{{/if}}
</div>
</template>