<template name="nodepanel">
<div class="node">
  <h2>{{ node.label }}</h2>

  <div class="block-type">cluster</div>
  <div class="cluster">{{ node.cluster_label }}</div>

  {{#if neighbors}}
  <div id="current-node-neighbors" class="neighbors">

  <div class="block-type">neighbors</div>

  {{#each neighbors}}
    <div class="node">

      <div class="direction">
        {{#if this.is_source }}<i class="icon-caret-left source"></i>{{/if}}
        {{#if this.is_destination }}<i class="icon-caret-right dest"></i>{{/if}}
      </div>

      <div class="label">{{ this.label }}</div>
    </div>
  {{/each}} 
  </div>
  {{/if}}

  <div class="annotations">
    <div class="block-type">annotations</div>
  </div>

</div>
</template>