<template name="nodelist">
{{#each clusters}}
<div class="cluster" style='border-color:{{ this.color }};'>

    <div class="color"></div>
    <h2  style='background-color:{{ this.color }}; border-color:{{ this.color_plain }};'>{{ this.label }}</h2>

    <div class="nodes">
    {{#each nodes }}
        <div class="node" data-id='{{ this.id }}' data-neighbor-switch='{{ this.id }}'>
            <span class="label">{{ this.label }}</span>
            <span class="notes">{{this.noteCount}}</span>
        </div>
    {{/each}}
    </div>

</div>
{{/each}}
</template>