<template name="nodelist">
<div>
{{#each clusters}}
<div class="cluster" style='border-color:{{ this.color }};'>

    <div class="color"></div>
    <h2  style='background-color:{{ this.color }}; border-color:{{ this.color_plain }};'>{{ this.label }}</h2>

    <div class="nodes">
    {{#each nodes }}
        <div class="node" id="{{ this.id }}" data-id='{{ this.id }}' data-neighbor-switch='{{ this.id }}'>
            <span class="label">{{ label }}</span>
            <span class="annotations_count"></span>
        </div>
    {{/each}}
    </div>

</div>
{{/each}}
</div>
</template>